<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net40" />
  <package id="ILRepack" version="2.0.13" targetFramework="net40" />
  <package id="ILRepack.MSBuild.Task" version="1.0.9" targetFramework="net40" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net40" developmentDependency="true" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net40" />
  <package id="SimpleInjector" version="4.0.7" targetFramework="net40" />
</packages>